/* Makeshift CSS Reset */  
{  
    margin: 0;  
    padding: 0;  
}  
  
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  
  
body {  
    margin: 0 auto;  
    width: 940px;  
    font: 13px/22px Helvetica, Arial, sans-serif;  
    background: #777;  
}  

h1 {  
    font-size: 60px;  
    line-height: 44px;  
    padding: 22px 0;  
    text-align:center;
}   
  
h2 {  
    font-size: 40px;  
    line-height: 44px;  
    padding: 22px 0;  
}  
  
h3 {  
    font-size: 32px;  
    line-height: 22px;  
    padding: 11px 0;  
}  
  
p {  
    font-size: 24px;
    padding-bottom: 22px;  
}  

nav {  
    position: absolute;  
    top:130px;
    left: 0;  
    width: 100%;  
    background: url("nav_background");  
} 

nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
} 

nav ul li {  
    float: left;  
}  
  
    nav ul li a {  
        display: block;  
        margin-right: 20px;  
        width: 140px;  
        font-size: 14px;  
        line-height: 44px;  
        text-align: center;  
        text-decoration: none;  
        color: #0f0f0f;  
    }  
  
        nav ul li a:hover {  
            color: #fff;  
        }  
  
        nav ul li.selected a {  
            color: #fff;  
        }  
  
        nav ul li.subscribe a {  
            margin-left: 22px;  
            padding-left: 33px;  
            text-align: left;  
            background: url("rss.png") left center no-repeat;  
        }  


#intro {  
    margin-top: 66	px;  
    padding: 44px;  
    background: #aaa url("intro_background.png") repeat-x;  
    background-size: 100%;  

    /* Background-size not implemented yet */  
        background-size: 100%;  
    -webkit-background-size: 100%;  
    -o-background-size: 100%;  
    -khtml-background-size: 100%;  
  
    /* Border-radius not implemented yet */  
        border-radius: 22px;  
    -moz-border-radius: 22px;  
    -webkit-border-radius: 22px;  
    
        background: #467612 url("intro_background.png") top left (287px 100%) repeat-x,  
            url("intro_flower.png") top rightright (653px 100%) no-repeat; 
            
} 



#intro h2, #intro p¬†{  
    width: 336px;  
}  
  
#intro h2 {  
    padding: 0 0 22px 0;  
    font-weight: normal  
    color: #fff;  
}  
  
#intro p {  
    padding: 0;  
    color: #d9f499;  
} 

#content {  
    display: table;  
}  
  
    #mainContent {  
        display: table-cell;  
        width: 620px;  
        padding-right: 22px;  
    }  
  
    aside {  
        display: table-cell;  
        width: 300px;  
    }
    
    
    .blogPost div {  
    column-count: 2;  
    column-gap: 22px;  
}


.blogPost {  
    column-count: 2;  
    column-gap: 22px;  
}  
  
    .blogPost header {  
        column-span: all;  
    } 
    
    
    .blogPost div {  
    /* Column-count not implemented yet */  
    -moz-column-count: 2;  
    -webkit-column-count: 2;  
  
    /* Column-gap not implemented yet */  
    -moz-column-gap: 22px;  
    -webkit-column-gap: 22px;  
}


.blogPost img {  
    margin: 22px 0;  
    box-shadow: 3px 3px 7px #777;    
    margin: 22px 0;  
    -webkit-box-shadow: 3px 3px 7px #777;  
}

section#comments article:nth-child(2n) {  
    margin: 5px 0; 
    padding: 21px;  
    background: #aaa;  
    border: 4px solid #d7d7d7;  
  
    /* Border-radius not implemented yet */  
    -moz-border-radius: 11px;  
    -webkit-border-radius: 11px;  
} 

section#comments article:nth-child(2n+1) { 
    margin: 5px 0;  
    padding: 21px;  
    background: #E3E3E3;  
    border: 4px solid #aaa;  
  
    /* Border-radius not implemented yet */  
    -moz-border-radius: 11px;  
    -webkit-border-radius: 11px;  
} 






